/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/
body {
  font-family: Arial, Helvetica, sans-serif;
}


/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Query excludes extra small devices and includes small and above */
[class*='col-'] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 48em) {
  [class*='col-'] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }

  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 48em) {
  .pull-right-sm {
    float:right;
  }
}

@media only screen and (max-width : 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************
****************************
Modules
****************************
***************************/

/* Button Module  */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  background: #8dc63f;
  border-color: #8dc63f;
  color: #ffffff;
}

.btn-nav {
  color: #ffffff;
}

.btn-primary:hover {
  background: none;
  border: #ffffff;
  text-decoration: none;
}

.btn-hero {
    padding: 15px 30px;
    border-radius: 4px;
    background: none;
    font-size: 1.750em;
    color: #ffffff;
    border: 1pt solid #ffffff;
}
.btn-hero:hover {
  background: #ffffff;
  color: #39b54a;
}

/* Added styling  */
@media only screen and (min-width: 48em){
  /* Button Desktop Module */
  .btn-primary {
    font-size: 1.125em;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: normal;
  }

  .btn-primary:hover {
    border: 1px solid #ffffff;
    text-decoration: none;
    background: none;
  }

  /* Hero Button Desktop Module */
  .btn-hero {
    padding: 15px 30px;
    border-radius: 4px;
    background: none;
    font-size: 1.750em;
    color: #ffffff;
    border: 1pt solid #ffffff;
  }
  .btn-hero:hover {
    background: #ffffff;
    color: #39b54a;
  }

  /* Media Object Desktop Module  */


}

/* Header Module  */
.header-primary {
  background: #9b8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

/* Logo Modules */
.logo {
  overflow: hidden;
  display: inline-block;
  
}

.logo-primary {
  width: 64px;
  height: 64px;
}

.logo-primary img {
  height: 100%;
}


/* Navigation Modules */
.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-primary {
  margin-top: 35px;
}

/* Hero Modules */
.hero {
  text-align: center;
}

.hero-primary {
  background-color: #594a42;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* make image for hero content transparent */
.hero-bg-image{
  opacity: 0.55;
}

/* brings the hero body to the front  */
.hero-body {
  position: relative;
}

.hero-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.625em;
  
}

.hero-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.5em;
  font-weight: normal;
}

.hero-subtitle + button {
  margin-top: 25px;
}

/* Background Modules */
.bg-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
}

/* Media Object Module */
.media, .media-body {
  /* stops content from wrapping */
  overflow: hidden;
}

.media-item {
  float: left;
  padding-right: 30px;
}

.media-item i {
  color: #594a42;
  font-size: 5em;
  padding-top: 20px;
}

.media-body, .media-item {
  margin-top: 40px;
}

.media-body > button {
  margin: 40px 0px;
}

/* Testimonial Module */
.testimonial {
  text-align: center;
  color: #ffffff;
}

.testimonial-item {
  margin-top: 40px;
  margin-bottom: 50px;
}

.testimonial-item > i {
  padding-right: 20px;
}

.testimonial-bg-image {
  opacity: 0.66;
  
}

.testimonial-item, .testimonial-body {
  position: relative;
}

/* testimonial overlay to make text readable */
.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  
}



/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #F7941E;
}
.background-secondary {
  background: #00AEEF;
}
.background-tertiary {
  background: #8DC63F;
}
.background-quaternary {
  background: #594a42;
}
.background-quinary {
  background: #e7e1d7;
}

.background-media {
  background-color: #c2b59b;
}